{% extends 'base.html' %}
{% load static %}

{% block title %}
    Checkout – {{ block.super }}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <div id="shipping-info">
                    <h4 class="pl-2 pt-2" style="letter-spacing: 0.5px;">Shipping Information</h4>
                    <hr>
                    <div class="form-row">
                        <div class="col form-field">
                            <input class="form-control" name="address" placeholder="Address" type="text" maxlength="200" required>
                        </div>
                        <div class="col form-field">
                            <input class="form-control" name="city" placeholder="City" type="text" maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col form-field">
                            <input class="form-control" name="county" placeholder="County" type="text" maxlength="50" required>
                        </div>
                        <div class="col form-field">
                            <input class="form-control" name="eircode" placeholder="Eircode" type="text" maxlength="8" required>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="billing-info">
                    <h4 class="pl-2 px-2" style="letter-spacing: 0.5px;">Billing Information</h4>
                    <hr>
                    <div class="form-row">
                        <div class="col form-field">
                            <input class="form-control" name="billing_address" placeholder="Address" type="text" required>
                        </div>
                        <div class="col form-field">
                            <input class="form-control" name="billing_city" placeholder="City" type="text" required>
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        <div class="col form-field">
                            <input class="form-control" name="billing_county" placeholder="County" type="text" required>
                        </div>
                        <div class="col form-field">
                            <input class="form-control" name="billing_eircode" placeholder="Eircode" type="text" required>
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-green btn-block rounded" id="make-payment">Continue with Stripe</i></button>
            </form>
        </div>
    </div>

    <div class="col-lg-6 mb-5">
        <div class="box-element">
            <a class="btn btn-outline-dark rounded m-2" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h4 class="pl-2 px-2" style="letter-spacing: 0.5px;">Order Summary</h4>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.image_url}}"></div>
                <div style="flex:2"><p><a href="{% url 'product' item.product.pk %}">{{item.product.name}}</a></p></div>
                <div style="flex:1"><p>€{{item.product.price}}</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}

            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: €{{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript">
    var total = '{{order.get_cart_total}}'
    var form = document.getElementById('form')

    csrftoken = form.getElementsByTagName("input")[0].value

    form.addEventListener('submit', function(e) {
        e.preventDefault()
        submitFormData()
    })

    document.getElementById('make-payment').addEventListener('click', function(e) {

        var stripe = Stripe('{{ stripe_public_key }}');
        stripe.redirectToCheckout({sessionId: '{{ session_id }}'}).then(function (result){})
    })

    function submitFormData() {

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'county': null,
            'eircode': null,
        }

        var billingInfo = {
            'address': null,
            'city': null,
            'county': null,
            'eircode': null,
        }

        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.county = form.county.value
        shippingInfo.eircode = form.eircode.value

        billingInfo.address = form.billing_address.value
        billingInfo.city = form.billing_city.value
        billingInfo.county = form.billing_county.value
        billingInfo.eircode = form.billing_eircode.value

        var url = '/process_order/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'form': userFormData, 'billing': billingInfo, 'shipping': shippingInfo})
        })

        .then((response) => response.json())
        console.log('Form Submitted')
    }
</script>
{% endblock content %}