{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }} - {{ block.super }}
{% endblock %}

{% block heading %}
    <div class="container">
        <div class="row my-5 justify-content-center">
            <h1 style="letter-spacing: 2.5px;">{{ title }}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mx-auto">
        {% for product in products %}
        {% if product.availability == True %}
        <div class="col-lg-3 col-sm-12 mb-5">
            <div class="card shadow rounded h-100">
                <img src="{{product.image_url}}" class="card-img-top" style="height:16rem">
                <div class="card-body text-center">
                       <h4>{{product.name|title|truncatechars:25}}</h4>
                       <h6 class="text-muted">{{product.organisation|truncatechars:25}}</h6>
                       <hr>
                       <div class="col pb-3">
                            <h4><strong>€{{product.price|floatformat:2}}</strong></h4>
                            <a class="btn btn-outline-secondary rounded add-btn update-cart" href="{% url 'product' product.pk %}" role="button">View Details</a>
                            <!--
                            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary rounded add-btn update-cart">View Details</button>
                            -->
                       </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock content %}