<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="https://wolfhoundandelk.com/">Wolfhound & Elk</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'store' %}">Products</span></a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            <span class="nav-item d-none d-sm-block mr-4">Hello, {{ request.user.first_name }}</span>
            <a href="{% url 'cart' %}" class="btn btn-green rounded mr-2"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="{% url 'logout' %}" class="btn btn-green rounded">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-green rounded">Login</a>
            {% endif %}
        </div>
    </div>
</nav>