{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Wolfhound and Elk{% endblock %}</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;0,900;1,200;1,300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport"/>

    <script type="text/javascript">
        var user = '{{request.user}}'
        var csrftoken = '{{csrf_token}}'
    </script>

</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #FEFEFE; font-family: 'Source Sans Pro', arial, sans-serif;">
    {% include 'inc/_nav.html' %}

    <div class="container">
        {% block heading %}
        {% endblock %}

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% block content %}CONTENT{% endblock %}
    </div>

    {% include 'inc/_footer.html' %}

    <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>